.index-page {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 3rem;
}

.highlighted {
  color: red;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image img {
  width: 100%;
  height: auto;
}
